@import"libs/reset.scss";

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    .header_text{
        display: flex;
        justify-content: center;
        background-color: #dfc9d9;
        width: 100%;
    }
}
.titre{
    width: 100%;
    background-color:#f1e4ee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    .titre_principal{
        text-align: center;
        width: 50%;
    }
    .titre_secondary{
        width: 75%;
        text-align: center;
    }
}