// ------------- LES KEYFRAMES ICI -------------

/* annimation pour les cartes du menu */

@keyframes slide_card {
  0% {
      opacity: 0;
      transform: translateY(25px);
    }
    40% {
      transform: translateY(25px);
      opacity: 0;
    }
    60% {
      transform: translateY(25px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}


/* animation pour le coeur */

@keyframes heart-animation {
  50% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    
    transform: scale(1.3);
  }
}


/* animations pour le loader */


 @keyframes loader{
  0% {
    letter-spacing: 1em;
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes rotation{
  0% {
            transform: rotate(0);
  }
  100% {
            transform: rotate(360deg);
  }
}

@keyframes entrance {
  0% {
            transform: scaleX(0.4);
  }
  100% {
            transform: scaleX(1);
            visibility: hidden;

  }
}
